.teaser-section {
    background-color: $blue-pastel;
    padding: 70px 0 65px;

    h2 {
        @include visually-hidden;
    }

    .uk-child-width-1-3 {
        >* {
            width: 100%;
        }

        >div {
            &:first-of-type svg {
                max-width: 110px;
            }

            &:nth-of-type(2) svg {
                max-width: 130px;
            }

            &:last-of-type svg {
                max-width: 155px;
            }
        }
    }

    .uk-card {
        background-color: $white;
        border-radius: 5px;
        padding: 30px 33px 42px;
        min-height: 265px;
        height: 100%;

        &::before,
        svg {
            transition: $timing $speed;
        }

        &::before {
            position: absolute;
            display: block;
            content: '';
            height: 13px;
            width: 100%;
            left: 0;
            bottom: 0;
        }

        svg {
            color: $gray-light;
            fill: $gray-light;
        }

        @include hover {
            &::before {
                height: 25px;
            }

            svg {
                color: $gray-dark;
                fill: $gray-dark;
            }
        }
    }

    .uk-card-title {
        font-size: 30px;
        line-height: 35px;
        font-weight: $light;
        color: $gray;
    }

    @media (min-width: $breakpointLarge) {
        .uk-grid {
            margin-left: -30px;

            >* {
                padding-left: 30px;
            }
        }

        *+.uk-grid-margin,
        .uk-grid+.uk-grid,
        .uk-grid>.uk-grid-margin {
            margin-top: 30px;
        }
    }

    @media (min-width: $breakpointTabletPortraitMax) {
        padding: 40px 0 52px;

        .uk-child-width-1-3>* {
            width: calc(100% * 1 / 3.001);
        }

        .uk-card {
            padding: 15px 11px;
        }
    }

    @media (min-width: $breakpointMedium) {
        padding: 93px 0;

        .uk-card {
            padding: 20px 45px 30px;
        }
    }

    @media (max-width: $breakpointTabletPortraitMax) {
        .uk-card-title {
            font-size: 30px;
            line-height: 35px;
        }
    }

    @media (max-width: $breakpointTabletPortraitMax) and (min-width: $breakpointMobile) {
        .uk-child-width-1-3>div {
            &:first-of-type svg {
                max-width: 75px;
            }

            &:last-of-type svg {
                max-width: 113px;
            }
        }

        .uk-card-title {
            font-size: 28px;
            line-height: 29px;
        }
    }

    @media (max-width: $breakpointMobile) {
        .uk-container {
            padding-left: 25px;
            padding-right: 25px;
        }
    }
}
