//
// Theme
//

@import '_variables.scss';
@import '_mixins.scss';

// Base
@import './base/fonts.scss';
@import './base/typography.scss';

// Layout / Helpers
@import './helpers/helpers.scss';
@import './helpers/keyframes.scss';
@import './layout/buttons.scss';

// UIkit
@import './uikit/offcanvas.scss';

// Modules
@import './modules/block.scss';
@import './modules/banner.scss';
@import './modules/intro-section.scss';
@import './modules/teaser-section.scss';
@import './modules/check-list.scss';
@import './modules/druck-section.scss';
@import './modules/lettershop-section.scss';
@import './modules/project-progress.scss';
@import './modules/produkte-section.scss';
@import './modules/about-section.scss';
@import './modules/reference-section.scss';
@import './modules/burger-menu.scss';
@import './modules/cookies.scss';

// Theme
@import 'theme/header.scss';
@import 'theme/footer.scss';
@import 'theme/ie11.scss';


// Template | Remove or Integrate

// uikit/utility
.uk-logo {
	min-height: 0;
	max-width: 369px;
	padding: 0;
	width: 100%;

	img {
		height: auto;
		width: 100%;
	}

	@media (min-width: $breakpointMobileMax) {
		max-width: 483px;
	}

	@media (min-width: $breakpointTabletPortraitMin) {
		max-width: 465px;
	}

	@media (max-width: $breakpointMediumMaxMin) and (min-width: $breakpointMedium) {
		max-width: 345px;
	}

	@media (min-width: $breakpointLarge) {
		max-width: 487px;
	}

	@media (max-width: $breakpointTabletPortraitMin) {
		padding: 0 25px 0 0;
	}
}

.uk-container {
	max-width: 1280px;
}

.uk-container-small {
	max-width: 598px;
}

@media (max-width: $breakpointSmallMaxMin) {
	.uk-grid {
		margin-left: -18px;

		>* {
			padding-left: 18px;
		}
	}

	*+.uk-grid-margin,
	.uk-grid+.uk-grid,
	.uk-grid>.uk-grid-margin {
		margin-top: 40px;
	}
}
